* text=auto

/.editorconfig   export-ignore
/.gitattributes  export-ignore
/.github         export-ignore
/.gitignore      export-ignore
/.styleci.yml    export-ignore
/box.json        export-ignore
/docs            export-ignore
/CHANGELOG.md    export-ignore
